import { ChangeDetectionStrategy, Component } from '@angular/core';

@Component({
  selector: '<%= selector %>',
  standalone: true,
  template: ``,
  styles: [
    `
      :host {
        display: block;
      }
    `,
  ],
  changeDetection: ChangeDetectionStrategy.OnPush,
})
export class <%= className %>Component {}
