name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      #fail-fast: true
      matrix:
        target: [test, lint, build]
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0
      - run: npx nx start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="build"
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      # Dependencies
      - name: Install root dependencies
        run: npm i
      - name: Install cli dependencies
        run: npm i
        working-directory: ./libs/cli
      - name: Build tooling scripts
        run: npm run build-tools
      - uses: nrwl/nx-set-shas@v4
      # Running scripts
      - name: Running ${{ matrix.target }}
        run: npm run nx -- run-many --target=${{ matrix.target }} --parallel=3 --configuration=production --exclude=docs,docs-app,elastic-explorer-chrome-extension
